# Environments
.env
venv/

# Local Application State
.kivi/

# Python Cache & Build Artifacts
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
build/
dist/

# IDEs / OS
.vscode/
.idea/
.DS_Store

*.pdf
Kivi_Backend_Full_Stack_Task_Clean_Cover.md
